.acf-full_width_banner{
	padding: var(--global--banner-spacing-vertical) 0 var(--global--banner-spacing-vertical) 0;
	.button-paragraph{
		text-align: center;
		margin-bottom: auto;
	}
}

.acf-social_media{
	width: 100%;
	display: inline-flex;
	justify-content: flex-end;
	align-content: center;
	font: 600 9px / 16px open-sans, sans-serif;
	h2{
		font: 600 9px / 16px open-sans, sans-serif;
		margin: 0 $baseline-unit 0 0;
	}
	a{
		margin: 0 $baseline-unit 0 0;
	}
}

.fa {color: var(--global--color-pink)}

.acf-free_form_content{
	&.word-border{
		.centered{
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.words{
			color: var(--global--color-pink);
			font-weight: bold;
			text-align: center;
			align-self: center;
		}
		.top{
			width:100%;
			padding: calc($baseline-unit * 9) 0;
		}
		.left,.right{
			align-content: center;
			display: flex;
		}
		.left{
			.words{
				transform: rotate(-90deg);
				white-space: nowrap;
			}
		}
		.right{
			.words{
				transform: rotate(90deg);
				white-space: nowrap;
			}
		};
	}
	.content{
		padding: 0 10%;
	}
}

.acf-two_columns, .acf-three_columns{
	display: flex;
	flex-direction: row;

	@include media(desktop-only){
		flex-direction: column;
	}

	> div{
		display: flex;
		justify-content: end;
		flex-direction: column;
		@include media(desktop){
		    align-content: center;
		    flex-wrap: wrap;
		    flex-direction: column;
		}
	}
}

.acf-three_columns{
	> div{
		width: 80%;
		margin: 0 10%;
		@include media(desktop){
			width: 29.5%;
			margin: 0 2%;
		}
	}
}

.acf-team_members{
	.member{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		@include media(desktop-only){
			flex-direction: column;
		}
	}
}

.acf-two_columns, .acf-team_members{
	.column{
		width: 80%;
		margin: 0 10%;
		padding: calc($baseline-unit * 12) 0 0 0;

		@include media(desktop){
			width: 42%;
			margin: 0 2%;
		}
	}
	.member{
		padding: calc($baseline-unit * 12) 0 calc($baseline-unit * 10) 0;
	}

	.member-info{
		padding-bottom: calc($baseline-unit * 2);
	}

	hr{
		border: none;
	    height: 10px;
	    width: 100%;
	    height: 50px;
	    box-shadow: 0 10px 20px -20px #333;
	    margin: -50px auto 10px;

	    &:last-of-type{
	    	display: none;
	    }
	}
}

.entry-content .acf-team_members img {
	height: auto !important;
}