.acf-full_width_banner{
	padding: var(--global--banner-spacing-vertical) 0 var(--global--banner-spacing-vertical) 0;
	.button-paragraph{
		text-align: center;
		margin-bottom: auto;
	}
}

.acf-social_media{
	width: 100%;
	display: inline-flex;
	justify-content: flex-end;
	align-content: center;
	font: 600 9px / 16px open-sans, sans-serif;
	h2{
		font: 600 9px / 16px open-sans, sans-serif;
		margin: 0 $baseline-unit 0 0;
	}
	a{
		margin: 0 $baseline-unit 0 0;
	}
}

.fa {color: var(--global--color-pink)}

.acf-two_columns, .acf-three_columns{
	display: flex;
	flex-direction: row;
	@include media(desktop-only){
		flex-direction: column;
	}
}

.acf-team_members{
	.member{
		display: flex;
		flex-direction: row;
		@include media(desktop-only){
			flex-direction: column;
		}
	}
}