// Site header
.site-header { 
	//@extend %responsive-alignwide-width;
	// align-items: flex-start;
	// flex-wrap: wrap;
	//display: flex;
	row-gap: var(--global--spacing-vertical); // Add space in case the menu wraps below the site branding.
	//justify-content: center;
	position: fixed;
	z-index: 2000;
	width: 100%;
	background-color: var(--global--color-background);
	transition: all .5s ease-in-out;
	height: calc($baseline-unit * 5);


	.wp-custom-logo & {
		align-items: center;
	}

	@include media(mobile) {
		//padding-top: calc(var(--global--spacing-vertical) / 0.75); // 40px
		padding-top: 0;
	}

	@include media(desktop) {
		// padding-top: calc(2.4 * var(--global--spacing-vertical)); // 60px
		padding-top: 0;
		height: auto;
	}

	.primary-menu-container > ul > .menu-item{
		text-transform: uppercase;
	}

	&.menu-active{
		background-color: var(--global--color-blue);

		.primary-navigation{
			transform: translateY(0);
		}

		.primary-menu-container > ul > .menu-item{
			transform: translateY(0);
			opacity: 1;
		}
	}
	@include media(device) {
		background-color: var(--global--color-blue);
		
		.primary-navigation{
			transform: translateY(0);
		}

		.primary-menu-container > ul > .menu-item{
			transform: translateY(0);
			opacity: 1;
		}
	}
}

#content{
	padding-top: calc($baseline-unit * 6);
	@include media(desktop) {
		padding-top: calc($baseline-unit * 10);
	}
}



// Site branding
.site-branding {
	color: var(--branding--color-text);
	margin-right: 140px;
	padding: 0 20px;
	position: ABSOLUTE;
    top: -12px;
    z-index: 500;
    @include media(desktop-only){
        top: -5px;
    }

	&:last-child {
		margin-right: 0;
		width: 100%;
		text-align: center;
	}

	@include media(mobile) {
		margin-right: initial;
		margin-top: 4px; // Align the baseline of the site title with the primary menu
	}
}

// Site title
.site-title {

	color: var(--branding--color-link);
	font-family: var(--branding--title--font-family);
	font-size: var(--branding--title--font-size-mobile);
	letter-spacing: normal;
	text-transform: var(--branding--title--text-transform);
	line-height: var(--global--line-height-heading);
	margin-bottom: calc(var(--global--spacing-vertical) / 6);

	a {
		color: currentColor;
		font-weight: var(--branding--title--font-weight);

		&:link,
		&:visited,
		&:active {
			color: currentColor;
		}

		&:hover,
		&:focus {
			color: var(--branding--color-link-hover);
		}

	}

	@include media(mobile) {
		font-size: var(--branding--title--font-size);
	}
}

// Site description
.site-description {
	color: currentColor;
	font-family: var(--branding--description--font-family);
	font-size: var(--branding--description--font-size);
	line-height: 1.4;
}

.site-title > a {
	text-decoration-color: var(--global--color-secondary);
}

// Site logo
.site-logo {

	margin: calc(var(--global--spacing-vertical) / 2) 0;

	.site-header > & {
		width: 100%;
		padding-bottom: calc(var(--global--spacing-vertical) * 1.5);
		border-bottom: 1px solid;
		text-align: center;
	}

	.custom-logo {
		margin-left: auto;
		margin-right: auto;
		max-width: var(--branding--logo--max-width-mobile);
		max-height: var(--branding--logo--max-height-mobile);
		height: 40px !important;
		display: inline-block;
		width: auto;
	}

	@include media(mobile) {

		.custom-logo {
			max-width: var(--branding--logo--max-width);
			max-height: var(--branding--logo--max-height);
			height: auto;
			width: auto;
		}
	}
}

@include media(mobile-only) {

	.site-header {

		&.has-logo {

			&:not(.has-title-and-tagline) {

				&.has-menu {

					.site-logo {
						position: absolute;
						padding-top: $baseline-unit;
						margin-top: 0;
						top: var(--global--admin-bar--height);

						.primary-navigation-open & {
							//display: none;
						}

						img {
							max-height: calc(var(--button--padding-vertical) - (0.25 * var(--global--spacing-unit)) + 1.7em);
						}
					}
				}
			}

			&.has-title-and-tagline {
				align-items: flex-start;

				&.has-menu {
					justify-content: space-between;

					.site-branding {
						max-width: calc(100% - 160px);
					}
				}

				.site-branding {
					margin-right: 0;
				}

				body:not(.primary-navigation-open) & {

					&:after {
						display: none;
					}

					.primary-navigation {
						position: relative;
						top: 0;
					}

					.menu-button-container {
						display: none;
						position: relative;
						padding-top: 0;
						margin-top: calc(0px - var(--button--padding-vertical) + (0.25 * var(--global--spacing-unit)));

						#primary-mobile-menu {
							// The 4.5px here is to offset the icon size horizontallly
							// (the icon's width is larger than the path's width and has extra space on the sides).
							padding-left: calc(var(--global--spacing-horizontal) * 0.6 - 4.5px);
							padding-right: calc(var(--global--spacing-horizontal) * 0.6 - 4.5px);
							margin-right: calc(0px - var(--global--spacing-horizontal) * 0.6);
						}
					}
				}
			}
		}

		&:not(.has-logo) {

			&.has-title-and-tagline {

				.site-branding {
					margin-right: 0;
					max-width: calc(100% - 160px);
				}
			}
		}

		&:not(.has-menu) {
			justify-content: center;
		}
	}
}
